$twine        : #c49b67;
$twine-106    : #c6986a;
$twine-105    : #c69869;
$white        : #ffffff;
$gray         : #888888;
$apricot-peach: #fccfc4;
$tan          : #d2ad88;
$rose-bud     : #f7ab8d;
$cocoa-brown  : #231815;
$akaroa       : #d5bfa4;
$smalt        : #003d97;
$raffia       : #eae2bc;
$dove-gray    : #727171;
$dove-gray-102: #666666;
$citrine-white: #faebdb;
$black        : #000000;
$pearl-lusta  : #fcefdf;