@font-face {
  font-family: "KozGoPr6N Medium";
  src: url("../fonts/KozGoPr6N-Medium.otf");
}

@font-face {
  font-family: "KozGoPr6N Bold";
  src: url("../fonts/KozGoPr6N-Bold.otf");
}

@font-face {
  font-family: "KozGoPr6N Regular";
  src: url("../fonts/KozGoPr6N-Regular.otf");
}

@font-face {
    font-family: "GrandHotel Regular";
    src: url("../fonts/GrandHotel-Regular.otf");
}

@font-face{
    font-family: "Euphorigenic Regular";
    src: url("../fonts/euphorig.ttf");
}

@font-face {
    font-family: "KozGoPro Bold";
    src: url("../fonts/KozGoPro-Bold.otf");
}

@font-face {
    font-family: "KozGoPro Heavy";
    src: url("../fonts/KozGoPro-Heavy.otf");
}

@font-face {
  font-family: "HiraKakuPro W3";
  src: url("../fonts/hirakakupro-w3.otf");
}